{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Hotel Management system</title>
  
  
  
      <link rel="stylesheet" href="{%  static 'css1/style.css' %}">

  
</head>

<body>

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:700,600' rel='stylesheet' type='text/css'>
  <div class="head">
	<p class="hello" >Hotel Management system</p>
	</div>


<form method="post" action="">
    {% csrf_token %}
<div class="box">
<h3>Login / Create an Account</h3>
    Click <a href="/login">here</a> to go to yahoo.
<a href="#####"><div class="btn"> Sign In</div></a> <!-- End Btn -->

<a href="######"><div id="btn2">Sign Up</div></a> <!-- End Btn2 -->

</div> <!-- End Box -->
  
</form>
  
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script>
  
  

    <script  src="{% static 'js1/index.js' %}"></script>




</body>

</html>
